@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
body
{
    background: center/cover no-repeat url("stock-photo-young-modern-dancing-group-practice-dancing-in-front-colorful-wall-431726581.jpg");
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: rgb(100, 100, 0,0.8);
}
input
{
    width:25%;
    height:20px;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 205%;
    color: mediumblue;
}
p
{
    font-size: 130%;
    font-family: "Chilanka";
    font-weight: bold;
    color: navy;
}
button
{
    margin-bottom: 2%;
    margin-top: 2%;
    width:7%;
}