body>img
{
    height: 1090px;
    width:100%;
    opacity:0.6;
}
.cont
{
    position: absolute;
    left:35%;
    top:19%;
}
input
{
    margin-bottom:5%;
    width:255%;
    height:20px;
}       
p
{
    font-size: 119%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
button
{
    width:55%;
    background-color: powderblue;
}      